@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--body-background: rgb(228, 228, 231)
				radial-gradient(
					at 17.74% 89.67%,
					rgb(186, 230, 253) 0px,
					transparent 63%
				),
			radial-gradient(
				at 44.51% 50.83%,
				rgb(221, 214, 254) 0px,
				transparent 67%
			),
			radial-gradient(
				at 58.78% 18.5%,
				rgb(229, 229, 229) 0px,
				transparent 100%
			),
			radial-gradient(
				at 86.33% 84%,
				rgb(103, 232, 249) 0px,
				transparent 71%
			),
			radial-gradient(
				at 15% 1%,
				rgb(249, 168, 212) 0px,
				transparent 54%
			),
			radial-gradient(
				at 86.77% 13.33%,
				rgb(94, 234, 212) 0px,
				transparent 28%
			);

		--primary-blue: 120 216 249;

		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 255 100% 0%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground font-sans;
	}
}
