.grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	width: 100%;
}

.heroHeading {
	grid-column: 1 / 7;
}

.heroImage,
.heroHeading {
	grid-row: 1 / 2;
}

.heroImage {
	grid-column: 4 / -1;
}
